{
  "application": "github2jira_jvl",
  "branches": ["develop", "master","Security-Fix"],
  "bugTracker": "JIRA",
  "jira": {
	"project": "DEMSEC",
	"issue_type": "Bug",
	"opened_status": ["Open","Reopen","In Progress","Resolved"],
	"closed_status": ["Closed","Done"],
	"open_transition": "Create Issue",
	"close_transition": "Close Issue",
	"close_transition_field": "resolution",
	"close_transition_value": "Done",
	"priorities": {
	  "High": "High",
	  "Medium": "Medium",
	  "Low": "Low",
	  "Informational": "Lowest"
	},
	"fields": [
	  {
		"type": "result",
		"name": "application",
		"jira_field_name": "Application",
		"jira_field_type": "label"
	  },
	  {
		"type": "result",
		"name": "category",
		"jira_field_name": "Category",
		"jira_field_type": "label"
	  },
		{
		"type": "result",
		"name": "cwe",
		"jira_field_name": "CWEs",
		"jira_field_type": "label"
	  },
    {
		"type": "result",
		"name": "loc",
		"jira_field_name": "LOC",
		"jira_field_type": "label"
	  }
  ]
  }
}
